doctype html
html
    head
        meta(charset='utf-8')
        title
            block title

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        <% if (bootstrap) { %>
        link(rel='stylesheet', type='text/css',
            href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
        <% } else { %>
        link(rel='stylesheet', type='text/css',
            href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
        <% } %>
        - if (min)
            link(rel='stylesheet', type='text/css', href='/style.min.css')
        - else
            link(rel='stylesheet', type='text/css', href='/style.css')

    body(lang='en')<% if (bootstrap) { %>
        #bsCDN.hide
        script(type='text/javascript').
            if (document.getElementById('bsCDN').offsetWidth) {
                var bootstrap = document.createElement('link');
                bootstrap.setAttribute('rel', 'stylesheet');
                bootstrap.setAttribute('type', 'text/css');
                bootstrap.setAttribute('href', '/bootstrap.min.css');
                var head = document.getElementsByTagName('head')[0];
                head.insertBefore(bootstrap, head.firstChild);
            }
        <% } %>
        .content
            block content

        - if (min)
            script(type='text/javascript',
                   src='/scripts/require.min.js',
                   data-main='/scripts/script.min.js')
        - else
            script(type='text/javascript',
                   src='/scripts/require.min.js',
                   data-main='/scripts/script.js')
